*{
  margin: 0;
  padding: 0;
}

/*@font-face {
  font-family: 'Candice';
  src: url('http://www.fontsaddict.com/fontface/candice.TTF');
}*/
/*
@font-face {font-family:"Candice";
src:url("./CANDY.eot") format("eot"),url("./CANDY.woff") format("woff"),url("./CANDY.ttf") format("truetype"),url("./CANDY.svg#Candice") format("svg");
font-weight:normal;font-style:normal;}*/

canvas {
	/*font-family: 'Berkshire Swash', cursive;*/
  /*background-color: red;*/
  font-family: 'Atomic Age', cursive;
}

#main-wrapper{
  position: relative;
}

.upper-canvas{
  position: absolute;
  top: 0;
  left: 0;
}
