*{
  margin: 0;
  padding: 0;
}

canvas {
	font-family: 'Berkshire Swash', cursive;
}

#main-wrapper{
  position: relative;
}

.upper-canvas{
  position: absolute;
  top: 0;
  left: 0;
}
